/*! src: "codepen.io/thecodingpie/pen/XWXaYqy" */
/*! Date: 25.09.2023 23:24 */

button.popup-btn:hover { cursor: pointer; }

.modal-window {
  display: none; background-color: rgba(0, 0, 0, 0.2); position: fixed; top: 0;
  left: 0; width: 100%; height: 100%; z-index: 2;
}
.modal-window__background {
  background-color: #fff; position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%); padding: 10px 20px;
  border-radius: 5px; display: flex; flex-direction: column; align-items: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-size: 1.5rem; animation-name: animatemodal; animation-duration: 0.4s;
  min-width: 380px;
  max-width: 95%;
  max-height: 95%;
}

.modal-window__button { border-radius: 10px; border: none; padding: 7px 14px; font-size: 1rem; border-radius: 5px; }
.modal-window__yes-btn { background-color: #fffcaa; }
.modal-window__no-btn { background-color: #e7e7e4; }
.modal-window__close-btn { align-self: flex-end; }
.modal-window__close-btn:hover { cursor: pointer; color: #ff0000; }
.modal-window__paragraph { font-weight: 400; text-align: center; }
.modal-window__image { height: 80%; align-self: normal; max-height: 30vw;}
.modal-window__image-adjusted { align-self: normal; width: 100%; max-height: 30vw;}
.modal-window__image-container {
    position: relative;
    width: -webkit-fill-available;
    height: 80%;
    align-self: normal;
}
.modal-window__standard-scale {
    /* width: 65vh; */
}
.modal-window__large-scale {
    /* width: 70vh; */
}
.modal-window__huge-scale {
    /* width: 80vh; */
}

.modal-window__captcha-title {
    background: #67a1ff;
    color: white;
    text-align: center;
    width: 100%;
}

@keyframes animatemodal {
  from { top: -300px; opacity: 0; }
  to { top: 50%; opacity: 1; }
}

/* Mobile*/
@media (max-width: 768px) and (min-height: 900px) {
  .modal-window__background {
    width: 100%;
    max-height: 100%;
    min-width: 300px;
  }
  .modal-window__background {
  }
  .modal-window__image {
    max-width: -webkit-fill-available; max-height: initial; }
  .modal-window__image-adjusted { height: -webkit-fill-available; max-height: initial; }
}

/* Tablet */
@media (min-width: 900px) and (max-height: 640px) {
  .modal-window__background {
    width: fit-content;
    flex-direction: row;
    width: inherit;
  }
  .modal-window__image-adjusted { height: -webkit-fill-available; }
  .modal-window__close-btn {
    align-self: flex-start;
  }
  .modal-window__horizontal-content {
    width: initial;
  }

  .modal-window__image-container {
      position: relative;
      width: fit-content;
      height: inherit;
      align-self: normal;
  }
}