.rasp-header-first-section
{
    background-color: #eee;
}

.rasp-header-first-section__container {
    justify-content: space-between;
    padding-right: .75rem;
    padding-left: .75rem;
    justify-self: center;
    margin-right: auto;
    margin-left: auto;
    width: 70%; 
    display: flex;
}

.rasp-logo-a {
    height: inherit;
}

.rasp-header__shortcut-container {
    list-style: none;
    display: flex;
    flex-direction: row;

    margin-block-start: 1em;
    margin-block-end: 1em;
}

.rasp-header__shortcut-item {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-left: auto;
    margin-right: auto;
    height: inherit;
}

.rasp-header__shortcut-item img {
    height: 24px;
}